<h1>Bathrooms</h1>

<p>{{availableDescription}}</p>

{{#each bathrooms}}
  <div {{bind-attr class="status"}}>
    <p>Bathroom Name: {{#if name}}{{name}}{{else}}undefined{{/if}}</p>
    <p>Sparkcore ID: {{sparkcoreId}}</p>
    <p>Status: {{status}}</p>
  </div>
{{/each}}
