<h1>America's Test Kitchen Bathroom Status</h1>

<p class="bathroom-count">{{availableDescription}}</p>

{{#each bathrooms}}
  <div {{bind-attr class=":bathroom status"}}>
    <p class="name">{{name}}</p>
    <p class="status">{{capitalize status}} as of {{moment statusUpdatedAt 'h:mm a'}}</p>
  </div>
{{/each}}
<div class="cf"></div>
